#main{
  font-size:60%;
  color: #fff;
  background-size: auto;
  margin-left: 40%;
  margin-top: -2%;
  
}
#main:active {
  color: #fff;

}
#submit{
  font-size: 25px;
  width: 90px;
  height: 35px;
  font-family:Cambria,Cochin;
  color: black;
  text-align: center;
  outline: none;
  border: none;
  cursor: pointer;
}
input{
  width: 200px;
  height: 35px;
  font-size:25px;
  opacity: .6;
}
h2{
    font-size: 700%;
    font-family:Cambria,Cochin;
    color: #fff;
    text-align: center;
    background-color: rgba(0,0,0,.5);
    margin-left: 25%;
    margin-top: 400px;
    height: 300px;
    width: 1000px;
   
}
#p1{
    font-size: 300% ;
    text-align: center;
    color: #fff;
    margin-left: 30%;
    font-family:Cambria,Cochin;
    text-align: center;
    height: 300px;
    width: 800px;
    background-color: rgba(0,0,0,.5);
}
#lotrButton{
  font-size: 90px; 
  font-family: Cambria,Cochin;
  color: #fff;
  margin-left: 0%; 
  text-align: center;
  cursor: pointer;
  margin-top: 300px;
 }
.button:active {
  background-color: #3e8e41(0,0,0,.5);
  transform: translateY(4px);
}
.buttonClass{
    font-size: 60px;
    color: #fff;
    background-color:rgba(0,0,0,.5);
    font-family:Cambria,Cochin;
    padding: 15px 25px;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
}
.parallax2 {
  background-image: url(screenshots/img3.png);
  height: 400px; 
  width: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
h3{
  font-size: 400%;
  color: #fff;
  margin-bottom: 2em;
  display: flex;
  justify-content: center;
  font-family:Cambria,Cochin;
}

#inputBtn{
  color: #fff;
  font-size: 300%;
  font-family:Cambria,Cochin;
  margin-left: 700px;
  
}
.parallax3 {
  background-image: url(https://images.unsplash.com/photo-1527138235495-6f1b15f33051?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=869&q=80);
  height: 1200px; 
  width: 100%;
  margin-top: 400px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img{
    width: 450px;
    height: 320px;
    margin-top: 8%; 
    padding: 0px;
    margin-left: 1%;
}
h4{
  font-size: 80px;
  font-family:Cambria,Cochin;
  color: #fff;
  margin-top: 15%;
  margin-left: 30%;
}
#row{
   flex-direction: column;
   position: relative;
   align-items: center;
}

ul {
  margin: 0;
  padding: 0;
  width: 80%;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 7px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 30px;
  transition: 0.2s;
  width: 60%;
  
  /* make the list items unselectable */
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
  width: 60%;
}

ul li:hover {
  background: #ddd;
  width: 70%;
}

ul li.checked {
  background-color: forestgreen;
  color: #fff;
  width: 70%;
  
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 1px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 5px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: rgba(0,0,0,.5);
  color: white;
}

.header {
  background-color: rgba(0,0,0,.5);
  padding: 30px 40px;
  width: 34%;
  color: white;
  text-align: center;
}
.header:after {
  content: "";
  display: table;
  
  clear: both;
}

#myInput{
  margin: 0;
  border: none;
  border-radius: 0;
  width: 80%;
  padding: 10px;
  float: left;
  font-size: 30px;
}
.addBtn {
  padding: 10px;
  width: 10%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}
.mySlides {
    display: none;
    width: 90%;
    margin-top: 2%; 
    margin-left: 4%;
}
img[src*="png"] {
    width: 100%;
    height: 700px;
    margin-top: 90%;  
}
.fade {
  animation-name: fade;
  animation-duration: 2s;
}








 

  

  
